
@{
    ViewBag.Title = "Delete Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles
{
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: silver;
        }

        #HeadTitle {
            font-size: 28px;
            margin: -20px 0px 40px 0px;
            color: red;
            text-align: center;
        }

        #mainArea {
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 960px;
        }

        table {
            margin: 0 auto;
            border: 3px solid;
            border-color: green;
            background-color: white;
            padding: 20px;
        }

        #message {
            text-align: center;
        }

        .style {
            width: 90px;
            height: 40px;
        }
    </style>
}


<div id="mainArea">
    <p id="HeadTitle">Customer Delete Form</p>
    <div id="message">
        @if (ViewBag.SMsg != null)
        {
            <p style="color: green; font-weight: bolder">@(ViewBag.SMsg)</p>
        }
        else if (ViewBag.FMsg != null)
        {
            <p style="color: red; font-weight: bolder">@(ViewBag.FMsg)</p>
        }
    </div>
    <form method="POST">
        <table>
            <tr>
            <td>Customer Id: </td>
            <td><input type="text" name="CustomerId"/></td>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete" class="style"/></td>
            </tr>
        </table>
    </form>
</div>
