USE [master]
GO
/****** Object:  Database [ShopDb]    Script Date: 4/1/2019 11:09:13 PM ******/
CREATE DATABASE [ShopDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ShopDb.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShopDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ShopDb_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/1/2019 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/1/2019 11:09:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Contact] [int] NOT NULL,
	[Age] [int] NOT NULL,
	[LoyalityPoint] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [CustomerId], [Name], [Code], [Address], [Email], [Contact], [Age], [LoyalityPoint]) VALUES (1, 2, N'Kamal', N'365', N'Dhanmondi', N'kamal@mail.com', 123, 20, 300)
INSERT [dbo].[Customers] ([Id], [CustomerId], [Name], [Code], [Address], [Email], [Contact], [Age], [LoyalityPoint]) VALUES (3, 3, N'Ashik', N'0011', N'Kallyanpur', N'ashik@gmai.com', 1100, 10, 30000)
INSERT [dbo].[Customers] ([Id], [CustomerId], [Name], [Code], [Address], [Email], [Contact], [Age], [LoyalityPoint]) VALUES (4, 10, N'Jamal', N'0011', N'Dhanmondi', N'jamal@gmai.com', 123654, 20, 500)
SET IDENTITY_INSERT [dbo].[Customers] OFF
USE [master]
GO
